html,body{
	width: 100%;
	height: 100%;
}
select{
	border: none;
	font-size: 2rem;
	height: 3rem;
	line-height: 3rem;
	margin: none;
}
.header{
	height: 6rem;
	background: #59bfcd;
	text-align: center;
	line-height: 6rem;
}
.btn{
	width: 9rem;
	height: 4.5rem;
	font-size: 2rem;
}
.btn-1{
	background: #50a8b4;
	color: #fff;
	margin-right: -1rem;
}
option{
	text-align: center;
}