/*iconfont font*/
@font-face {font-family: "iconfont";
  src: url('../images/iconfont.eot?t=1497762729545'); /* IE9*/
  src: url('../images/iconfont.eot?t=1497762729545#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../images/iconfont.woff?t=1497762729545') format('woff'), /* chrome, firefox */
  url('../images/iconfont.ttf?t=1497762729545') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../images/iconfont.svg?t=1497762729545#iconfont') format('svg'); /* iOS 4.1- */
}

*{
	margin: 0;
	padding: 0;
	font-size: 12px;
	font-family:"iconfont"; 
  	font-style:normal;
  	-webkit-font-smoothing: antialiased;
 	-moz-osx-font-smoothing: grayscale;
}
html,body{
	height: 100%;
}
/*header area*/
.header{
	width: 100%;
	height: 12rem;
	background: #5fc0cd;
}
.header .homepage{
	text-align: center;
	color: #fff;
	line-height: 12rem;
	font-size: 4rem;
}
.header .back{
	position: absolute;
	left: 3rem;
	color: #fff;
	line-height: 12rem;
	font-size: 5rem;
	
}
/*banner area*/
.banner{
	width: 100%;
	height: 40rem;
	background:  url(../images/bg-img.jpg) no-repeat top center ;
	
	background-size: cover;
	vertical-align: center;
}
.banner img{
	display: block;
	padding: 10rem 5rem 0 5rem;
	width: 20rem;
	float: left;
}
.banner p{
	font-size: 4rem;
	color: #fff;
	font-weight: bold;
	float: left;
	padding: 15rem 0 0 ;
}
/*content area*/
.content .skill{
	padding: 4rem 0;
	border-bottom: 1px solid #999;
	font-size: 3rem;
	margin: 0  4rem;
}
.content .skill span{
	color: #e57274;
	font-size: 3rem;
}
.content .skill p{
	padding-left: 2rem;
	border-left: 1rem solid #5fc0cd;
	font-size: 3rem;
}
.content .skill i{
	color: #999;
	font-size: 3rem;
	margin: 0 2rem;
	border-right: 2px solid #999;
	padding-right: 3rem;
}
/*footer area*/
.footer{
	margin: 0 auto;
}
.footer button{
	border-radius: 1rem;
	width: 40%;
	height: 15%;
	margin: 4%;
	font-size: 4rem;
	border: 0.5rem solid #5fc0cd;
}
.footer .btn-left{
	background: #fff;
	color: #5fc0cd
}
.footer .btn-right{
	background: #5fc0cd;
	color: #fff;
}
.footer .homepage{
	float: left;
	width: 50%;
}