*{
	margin: 0;
	padding: 0;
}
body{
	background: #68cdd5;
}
html,body{
	height:100%;
	width: 100%;
	font-size: 12px;
}
#container{
	width: 100%;
	height: 100%;
}
#back img{
	margin: 3% 0 0 3%;
	width: 10%;
}
#ptt{
	margin:10% 0;
	text-align:center;
}
#ptt img{
	width: 40%;
}
#text{
	font-size: 120%;
	color: #fff;
	display: inline-block;
	padding: 5% 12% 30%;
}
#bottom-logo{
	float: left;
	margin-left: 12%;
	width: 15%;
	height: 15%;
	margin-bottom: 20%;
}
#bottom-logo img,#person img{
	width: 100%;
}
#person{
	float: right;
	margin-right: 12%;
	width: 15%;
	height: 15%;
}
#bottom-logo p,#person p{
	text-align: center;
	font-size: 1rem;
	color: #fff;
}