/* 段落的标题的公共类 */

.headTitle {
    height: 40px;
    border-bottom: 6px solid #ff6600;
    font-size: 18px;
}

.headTitle span {
    font-size: 24px;
    background: #ff6600;
    color: #fff;
    padding: 12px;
}


/* 书本具体模块公共类的抽取 */

.bookIntroBlock {
    float: left;
    width: 180px;
    height: 240px;
}

.bookIntroBlock:hover {
    background: #f2f2f2;
}

.bookIntroBlock img {
    width: 130px;
    height: 150px;
    margin: 20px 25px 0px;
}

.bookIntroBlock .item {
    padding-left: 20px;
    font-weight: bold;
    line-height: 24px;
}

.bookIntroBlock .intro {
    padding-left: 20px;
}

.bookIntroBlock .price {
    padding-left: 20px;
    font-size: 14px;
    line-height: 24px;
    color: red;
}


/* 头部样式开始 */

.header .navBar .allItem {
    background: #92d56e;
}

.header .topBar .logo .title1,
.header .topBar .logo .title2 {
    font-size: 20px;
}

.bannerAndItem {
    position: relative;
}

#item {
    position: absolute;
}

.bannerAndItem .goodSale {
    width: 200px;
    height: 400px;
    border-bottom: 1px solid #b3b3b3;
}

.bannerAndItem .goodSale .botmBook {
    height: 370px;
    position: relative;
    z-index: 999;
    overflow: hidden;
}

.bannerAndItem .goodSale .title {
    height: 30px;
    color: #fff;
    font-size: 16px;
    text-align: center;
    background: #92d56e;
}

.bannerAndItem .goodSale .hotBooksRecommend {
    position: absolute;
    z-index: 1;
    height: 139px;
    width: 200px;
    border-bottom: 1px solid #b3b3b3;
    border-top: 1px solid #b3b3b3;
    background: #fff;
}

.goodSale .hotBooksRecommend .rank {
    display: block;
    width: 20px;
    height: 20px;
    text-align: center;
    font-size: 16px;
    color: #fff;
    background: #b2b2b2;
}

.goodSale .hotBooksRecommend img {
    float: left;
    width: 100px;
    margin: 5px 10px 0 0;
}

.goodSale .hotBooksRecommend p {
    padding: 21px 0px 10px;
    line-height: 20px;
}

.goodSale .hotBooksRecommend .orange {
    background: #ff6600;
}


/* adBanner area */

.adBanner img {
    -webkit-transition: transform 1000s;
    transition: transform 1000s;
    -ms-transition: transform 1000s;
    -o-transition: transform 1000s;
}


/* bookDoscount area */

.bookDoscount {
    margin-top: 24px;
    height: 600px;
}


/* newBooks area */

.newBooks {
    height: 600px;
}

.newBooks .newBooksGet {
    width: 900px;
}

.newBooks .newBooksGet .content {}

.newBooks .wellSells {
    margin-top: 40px;
}


/* personal provide area */

.personalPro {
    height: 600px;
}

.personalPro .headTitle .titles {
    margin-top: 14px;
}

.personalPro .headTitle .titles span {
    padding: 8px 8px 5px;
    font-size: 16px;
    color: #333;
    background: #fff;
    cursor: pointer;
}

.personalPro .headTitle .titles .active {
    background: #ff6600;
    color: #fff;
}


/* 图书的轮播区域 */

.allBooksBanner {
    position: relative;
    width: 1200px;
    overflow: hidden;
}

.allBooksBanner .booksBannerWrapper {
    position: relative;
    width: 10800px;
    height: 500px;
}

.allBooksBanner .booksBannerWrapper .content {
    width: 1200px;
    float: left;
}

.allBooksBanner .booksBannerWrapper .content .bookIntroBlock {
    margin: 0 10px;
}

.allBooksBanner .leftArr,
.allBooksBanner .rightArr {
    position: absolute;
    top: 200px;
    width: 36px;
    height: 70px;
    opacity: .5;
    filter: alpha(opacity=50);
}

.allBooksBanner .leftArr:hover,
.allBooksBanner .rightArr:hover {
    opacity: 1;
    filter: alpha(opacity=100);
}

.allBooksBanner .leftArr {
    left: 0;
    background: #ccc url(../images/arrowBG.png) 0px 14px no-repeat;
}

.allBooksBanner .rightArr {
    right: 0;
    background: #ccc url(../images/arrowBG.png) -44px 16px no-repeat;
}

.allBooksBanner .bottomDot {
    width: 168px;
    margin: 0 auto;
}

.allBooksBanner .bottomDot span {
    display: block;
    float: left;
    width: 16px;
    height: 16px;
    margin: 4px;
    border-radius: 50%;
    background: #ccc;
    cursor: pointer;
}

.allBooksBanner .bottomDot .active {
    background: #ff6600;
}


/* guessYouLike area */

.guessYouLike {
    height: 550px;
    border-bottom: 2px solid #ccc;
}

.guessYouLike .headTitle .titles a {
    color: #458dfc;
    font-size: 16px;
}

.guessYouLike .headTitle .titles span {
    padding: 0;
    background: url(../images/icon_shop.png) -400px 0px;
}

.guessYouLike .content .bookIntroBlock {
    margin: 0 10px;
}


/* bottomBestChoice area */

.bottomBestChoice {
    height: 160px;
}

.bottomBestChoice .choice {
    width: 200px;
    float: left;
}

.bottomBestChoice .choice p {
    padding: 40px 0 0 20px;
}

.bottomBestChoice .choice .title {
    font-size: 14px;
}

.bottomBestChoice .choice .desc {
    line-height: 20px;
    color: #b2b2b2;
}

.bottomBestChoice .choice .discount {
    padding: 0 4px;
    border-radius: 8px;
    color: #fff;
    background: #fa2e25;
}

.bottomBestChoice .choice img {
    width: 80px;
    height: 100px;
    float: right;
    margin: 40px 0 0;
}