/* 头部区域 */

.header {
    margin-bottom: 57px;
}

.header .topBar .logo {
    width: 260px;
    height: 85px;
}

.header .topBar .logo img {
    margin: 4px 0 0 20px;
}

.header .topBar .logo .title2 {
    width: 100px;
    margin-left: 44px;
    top: 26px;
}

.header .topBar .leftText {
    margin-left: 300px;
}

.header .welcome {
    font-size: 22px;
    padding: 12px 0 16px 300px;
    color: #666;
}


/* login area */

.login {
    height: 500px;
    background: #e93854;
    position: relative;
}

.login .loginContent {
    position: absolute;
    top: 60px;
    right: 100px;
    width: 350px;
    height: 370px;
    background: #fff;
}

.login .loginType {
    height: 56px;
    border-bottom: 1px solid #f6f6f6;
}

.login .loginType p {
    width: 174px;
    height: 28px;
    margin: 14px 0;
    float: left;
    text-align: center;
    font-size: 22px;
    cursor: pointer;
}

.login .loginType p:hover {
    color: #ff6600;
}

.login .loginType .qrLogin {
    border-right: 1px solid #f6f6f6;
}

.login .loginType .active {
    color: #ff6600;
}

.loginContent .loginQRBlock {
    position: relative;
}

.loginContent .loginQRBlock .qr {
    position: absolute;
    left: 68px;
    margin: 60px 18px 0 30px;
    -webkit-transition: transform 1000s;
    transition: transform 1000s;
    -ms-transition: transform 1000s;
    -o-transition: transform 1000s;
}

.loginContent .loginQRBlock .scan {
    position: absolute;
    top: 0px;
    right: 0px;
    margin-top: 56px;
    opacity: 0;
    filter: alpha(opacity=0);
}

.loginContent .scribe {
    padding-top: 270px;
    color: #666;
    text-align: center;
}

.loginContent .loginCount {
    width: 290px;
    margin: 8px auto 0;
    display: none;
    position: relative;
}

.loginContent .loginCount .clearText {
    position: absolute;
    top: 11px;
    right: 8px;
    width: 20px;
    height: 20px;
    background: url(../images/icon_shop.png) -350px -50px;
    cursor: pointer;
}

.loginContent .loginCount input[type=text],
.loginContent .loginCount input[type=password] {
    display: block;
    width: 244px;
    height: 38px;
    padding-left: 46px;
    border: 1px solid #ccc;
    outline: none;
}

.loginContent .loginCount input[type=text] {
    margin-top: 40px;
    background: url(../images/icon_shop.png) -400px -280px no-repeat;
}

.loginContent .loginCount input[type=password] {
    background: url(../images/icon_shop.png) -400px -340px no-repeat;
}

.loginContent .loginCount .remind span {
    float: right;
}

.loginContent .loginCount input[type=submit] {
    width: 100%;
    height: 40px;
    font-size: 22px;
    color: #fff;
    line-height: 40px;
    text-align: center;
    border: none;
    background: #ff6600;
    margin-top: 30px;
}

.loginContent .loginCount .joinIn {
    width: 100%;
    height: 50px;
    margin-top: 25px;
    border-top: #e6e6e6;
    line-height: 50px;
}

.loginContent .loginCount .joinIn p {
    text-align: center;
}

.loginContent .loginCount .joinIn a {
    font-size: 18px;
}

.loginContent .loginCount .joinIn .joinBg {
    width: 18px;
    height: 18px;
    display: inline-block;
    margin: 10px 6px -2px 0;
    line-height: 50px;
    background: url(../images/icon_shop.png) -400px -400px no-repeat;
}


/* 底部信息栏 */

.footLink {
    color: #333;
    text-align: center;
    margin-top: 20px;
    line-height: 20px;
    letter-spacing: 1px;
}

.footLink a {
    color: #333;
    padding: 0 10px;
}