/* header area */

.header .topBar .logo .title1,
.header .topBar .logo .title2 {
    font-size: 20px;
}

.header .navBar .allItem {
    background: #93d470;
}

.header .navBar .allItem .downArrow {
    background-position-y: -140px;
}

.bannerAndItem {
    height: 0;
}

#item {
    display: none;
    position: absolute;
}


/* bookIntro area */

.bookIntro {
    background: #f2f2f2;
    height: 600px;
}

.bookIntro a {
    color: #464646;
    font-size: 16px;
}

.bookIntro a:hover {
    color: #ff6600;
}

.bookIntro .breadNav {
    color: #464646;
    font-size: 16px;
    line-height: 50px;
}

.bookIntro .breadNav .bigFont a {
    font-size: 24px;
}

.bookIntro .bookIntroContent {
    height: 510px;
    background: #fff;
}

.bookIntro .bookIntroContent img {
    -webkit-transition: transform 1000s;
    transition: transform 1000s;
    -ms-transition: transform 1000s;
    -o-transition: transform 1000s;
}

.bookIntro .bookIntroContent .sidePic {
    width: 350px;
    padding: 10px;
}

.bookIntroContent .sidePic .bigPic {
    border: 2px solid #fff;
}

.bookIntroContent .sidePic .bigPic:hover {
    border: 2px solid #ff6600;
}

.bookIntroContent .sidePic .btnPic {
    margin-top: 20px;
}

.bookIntroContent .sidePic .btnPic .leftArrow {
    display: block;
    float: left;
    width: 30px;
    height: 40px;
    background: url(../images/icon_shop.png) -350px -200px;
    cursor: pointer;
}

.bookIntroContent .sidePic .btnPic .rightArrow {
    display: block;
    float: right;
    width: 30px;
    height: 40px;
    background: url(../images/icon_shop.png) -300px -200px;
    cursor: pointer;
}

.bookIntroContent .sidePic .btnPic .books {
    display: block;
    float: left;
    width: 55px;
    height: 55px;
    margin: 0 10px;
    border: 2px solid #fff;
    cursor: pointer;
}

.bookIntroContent .sidePic .btnPic .books:hover {
    border: 2px solid #ff6600;
}

.bookIntroContent .sidePic .btnPic p {
    padding-top: 80px;
    text-align: center;
    color: #666;
}


/* bookIntro rightIntro area */

.bookIntro .rightIntro {
    width: 786px;
    margin-right: 30px;
}

.bookIntro .rightIntro .bookTitle {
    font-size: 22px;
    line-height: 60px;
    padding-top: 30px;
}

.bookIntro .rightIntro .bookDescribe {
    font-size: 18px;
    line-height: 28px;
    color: #fb2f2f;
}

.bookIntro .rightIntro .author {
    font-size: 16px;
    line-height: 28px;
    color: #a6a6a6;
}

.bookIntro .rightIntro .priceMsg {
    height: 120px;
    background: #f5f5f5;
    padding: 10px;
    position: relative;
}

.bookIntro .rightIntro .priceMsg p {
    color: #6c6c6c;
    font-size: 16px;
}

.rightIntro .priceMsg .price {
    letter-spacing: 4px;
}

.rightIntro .priceMsg .price .truePrice {
    font-size: 24px;
    color: red;
}

.rightIntro .priceMsg .price .priceBefore {
    font-size: 16px;
    text-decoration: line-through;
}

.rightIntro .priceMsg .discountMsg {
    letter-spacing: 2px;
    padding-top: 6px;
    line-height: 30px;
}

.rightIntro .priceMsg .discountMsg .red {
    font-size: 16px;
    color: red;
}

.rightIntro .priceMsg .getTicket {
    padding-top: 20px;
}

.rightIntro .priceMsg .getTicket .title {
    float: left;
    font-size: 16px;
    letter-spacing: 2px;
    padding-right: 20px;
}

.rightIntro .priceMsg .getTicket .ticket {
    display: block;
    float: left;
    margin-right: 20px;
    width: 90px;
    height: 26px;
    background: url(../images/icon_shop.png) -203px -411px;
}

.rightIntro .priceMsg .totalEvaluate {
    position: absolute;
    display: block;
    right: 0;
    top: 0;
    width: 74px;
    height: 40px;
    font-size: 14px;
    margin: 10px;
    padding-left: 10px;
    text-align: center;
    border-left: 2px solid #6c6c6c;
}

.rightIntro .priceMsg .totalEvaluate .red {
    color: red;
    font-size: 14px;
}