@charset 'utf-8';

/* all public style area */

* {
    font-size: 12px;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #808080;
}

.width1200 {
    width: 1200px;
    margin: 0 auto;
}

.allWidth {
    width: 100%;
}

.fl {
    float: left;
}

.fr {
    float: right;
}