/*样式预设*/
*{
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
}
li{
    list-style: none;
}
a:hover{
    text-decoration: none;
}
.hide{
    display: none;
}
.center-block{
    margin: 0 auto;
    width: 1000px;
}
/*公共头部区域*/
.public-header{
    height: 35px;
    min-width: 1000px;
    background: #379be9;
}
.nav-left{
    float: left;
}
.nav-left-link,.nav-left-more{
    float: left;
    line-height: 35px;
}
.nav-left-more a i{
    font-size: 1.2rem;
    padding-left: 4px;
    -webkit-transition: transform 0.3s ease 0.1s;
    -moz-transition: transform 0.3s ease 0.1s;
    -ms-transition: transform 0.3s ease 0.1s;
    -o-transition: transform 0.3s ease 0.1s;
    transition: transform 0.3s ease 0.1s;
}
.nav-left-more a:hover i{
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}
.nav-left-link a,.nav-left-more a{
    display: inline-block;
    color: #fff;
    font-size: 1.5rem;
    padding: 0 7px;
}
.nav-left-more li{
    text-align: center;
}
.nav-left-link a:hover,.toggle-area li:hover{
    background: #1669AB;
}
.toggle-area{
    display: none;
    position: absolute;
    top: 35px;
    left: 615px;
    background: #379be9;
}
.toggle-area a{
    display: inline-block;
    line-height: 35px;
    color: #fff;
    font-size: 1.5rem;
    padding: 0 7px;

}
.nav-right{
    float: right;

}
.nav-right ul li{
    float: left;
    display: block;
    height: 35px;
    padding: 0 15px;
}
.navspirit1{
    width: 62px;
    height: 24px;
    margin: 5px 8px 0 0;
    background: url(../img/loginspirit.png) 0 0;
}
.navspirit1:hover{
    background: url(../img/loginspirit.png) 0 -42px;
}
.navspirit2{
    height: 24px;
    width: 24px;
    margin-top: 5px;
    background: url(../img/loginspirit.png) 0 -92px;
    
}
.navspirit3{
    height: 24px;
    width: 24px;
    margin-top: 5px;
    background: url(../img/loginspirit.png) 0 -135px;
    
}
.navspirit4{
    height: 24px;
    width: 24px;
    margin-top: 5px;
    background: url(../img/loginspirit.png) 0 -177px;
    
}
.navspirit5{
    height: 24px;
    width: 24px;
    margin-top: 5px;
    background: url(../img/loginspirit.png) 0 -218px;
    
}
/*顶部广告区域*/
.ad-banner{
    margin: 10px auto;
    height: 80px;
    width: 1000px;
    background: #eee;
}
/*页内导航区域*/
.nav-area{
    height: 60px;
    margin-top: 10px;
    border-bottom: 1px solid #ddd;
}
.tencent-logo{
    float: left;
    margin-bottom: 50px;
}
.smallNav{
    padding: 5px 0 0 200px; 
}
.smallNav>li{
    display: inline-block;
    float: left;
}
.smallNav li span a{
    color: #2c95e8;
}
.smallNav li a{
    padding: 6px;
    font-size: 1.2rem;
    color: #000;
}
.smallNav li a:hover{
    background: #3a9bea;
    color: #fff;
}
.search{
    float: left;
    margin:-12px 0 0 100px;
}
.search .search-text{
    background: url(../img/sogouspirit.png) top right no-repeat ;

}
.search .search-button{
    width: 50px;
    font-weight: bold;
    margin-left: -5px;
}
/*文档左部正文区域*/
.content-area{
    clear: both;
}
.left-content{
    float: left;
    width: 640px;
}

.left-content h1{
    font-size: 26px;
}
.title-note{
    color: #bbb;
    font-size: 1.2rem;
}
.title-note i{
    font-style: normal;
    padding:0 8px;
    border-right: 1px solid #ddd;
    /*此处增大文字间距*/
}
.title-note i a{
    color: #bbb;

}
.title-note i a:hover{
    color: #cc0001;
    text-decoration: underline;
}
.title-note>a{
    font-size: 1.2rem;
    padding-right: 8px;
    border-right: 1px solid #ddd;
}
.title-note>a:hover{
    color: #337ab7;
    text-decoration: underline;
}
.small-toggle{
    padding-left: 8px;
    
}
.small-toggle a{
    color: #bbb;
}
.small-toggle a:hover{
    color: #cc0001;
}
.star{
    float: right;
    margin: -6px 10px 0 0 ;
    padding: 3px 5px;
    line-height: 18px;
    background: #ebf5fd;
}
/*文档左部正文区域*/
.left-content .content-text>p{
    margin-top: 30px;
    font-size: 1.6rem;
    text-indent: 30px;
    color: #000;
    line-height: 28px;
}
.left-content img{
    padding: 20px 0;
    display: block;
    margin: 0 auto;
}
.placeholder3{
    height: 100px;
    background: #eee;
}
.search-link{
    clear: both;
}
.search-link ul{
    display: block;
    width: 210px;
    float: left;
    font-size: 1.4rem;
    line-height: 2.2rem;
    
}
.search-link ul a{
    text-align: center;
    color: #000;
}
.search-link ul a:hover{
    text-decoration: underline;
}
.share-to a{
   color: #505050;
   line-height: 200px; 
}
.boldp{
    margin-top: 30px;
    font-size: 1.6rem;
    font-weight: bold;
}
/*文档右部正文区域*/
.right-content{
    float: right;
    width: 300px;
}
.right-tag-content1{
    height: 70px;
    width: 100%;
    margin-top: 5px;
}
.right-tag h3{
    font-size: 1.7rem;
    line-height: 20px;
    color: #337ab7;
}
.right-tag-content1 img{
    display: block;
    float: left;
    width: 90px;
    height: 60px;
    margin: 5px 0;
}
.right-tag-content1 p{
    display: block;
    float: right;
    width: 200px;
    margin-top: 17px;
}
.right-tag-content1 p a{
    color: #000;
}
.right-tag-content1 p a:hover{
    text-decoration: underline;
    color: #cc0001;
}
.taobaoad{
    margin: 50px 0;
    height: 600px;
    width: 100%;
    border: 2px solid #f40;
    background: url(../img/taobao.png) top center no-repeat;
}
.taobaoad .hide{
    display: none;
}
.taobaoad .imgs{
    background: #eee;
}
.taobaoad .imgs img{
    width:296px;
}
.taobaoad .imgs p{
    
    margin: 0 0 0 5px;
    line-height: 38px;
    font-size: 1rem;
}
.taobaoad .imgs .price{
    font-size: 1.8rem;
    color: red;
}
.taobaoad .imgs .price  del{
    display: inline-block;
    margin-top: -5px;
    font-size: 10px;
    color: #bbb;
}
.taobaoad .imgs .price span{
    font-size: 10px;
    color: #bbb;
    margin-right: 20px;
    float: right;
 }
.taobaoad .imgchoose{
    color: red;
    margin: 15px 0 15px 4px;
  }
.taobaoad .imgchoose img{
     width: 60px;
     height: 60px;
     padding: 2px;
 }
.taobaoad .imgchoose img:hover{

     border: 1px solid red;
 }
.taobaoad .autoplay{
    margin-left: 2px;
}
 .taobaoad .autoplay a{
    display: block;
    float: left;
    line-height: 36px;
    width: 33%;
    text-align: center;
    background: #ff7c4c;
    box-sizing: border-box;
    border: 2px solid #fff;
    color: #fff;
 }
 .taobaoad .autoplay .active{
     background: #f40;
 }
.right-tag-content2{
    display: block;
    float: left;
    width: 140px;
    height: 48px;
    margin:0 10px 90px 0;
}
.right-tag-content2 img{
    width: 140px;
    height: 83px;
}
.right-tag-content2 p{
    padding-top: 5px;
}
.right-tag-content2 p a{
    color: #000;
}
.right-tag-content2 p a:hover{
    color: #cc0001;
    text-decoration: underline;
}
.more{
    float:right;
    color: #000;
    font-size: 1.2rem;
}
.more:hover{
    color: #cc0001;
    text-decoration: underline;
}
.right-tag-content3{
}
.right-tag-content3 .smallbox{
    float: left;
    width: 149px;
    padding: 18px 0;
    border: 1px #ececec solid;
    text-align: center;
}
.right-tag-content3 .smallbox>a{
    font-size: 1.6rem;
    color: #505050;
}
.right-tag-content3 .smallbox>a:hover{
    text-decoration: underline;
}
.right-tag-content3 .smallbox>p{
    font-size: 1.2rem;
    padding: 5px 0 0;
}
.right-tag-content3 .smallbox p span{
    color: red;
}
.right-tag-content3 .smallbox>span a{
    font-size: 1.2rem;
    color: #505050;
}
.right-tag-content3 .smallbox>span span{
    display: inline-block;
    background: #8ec3ff;
    padding: 1px 4px;
    border-radius: 3px;
}
.right-tag-content3 .smallbox>span span a{
    color: #fff;
}
.placeholder2{
    margin-top: 300px;
    height: 300px;
    background: #eee;
}
/*底部区域*/
.footer-content{
    width: 100%;
    height: 130px;
    background: #333438;
}
.public-footer{
    clear: both;
    text-align: center;
}
.footer-content>span>a{
    display: inline-block;
    margin: 40px 0 10px 0;
    padding: 0 8px 0 3px;
    font-size: 1.2rem;
    border-right: 1px solid #ccc;
    color: #888886;
}
.footer-content span span>a{
    padding: 0 8px 0 3px;
    font-size: 1.2rem;
    color: #888886;

}
.footer-content span>a:hover{
    text-decoration: underline;
}
.footer-content>p{
    font-size: 1.2rem;
    color: #888886;
}
/*有下家固定区域*/
.float-area{
    position: fixed;
    bottom: 0;
    right: 0;
    width: 80px;
    height: 160px;
}
.floatcontainer{
    margin: 10px;
    width: 60px;
    height: 60px;
}
.float-area .clickup,.float-area .clickdown{
    display: block;
    background: rgba(0,0,190,.4)
}
.float-area .clickup i,.float-area .clickdown i{
    margin-left: 15px;
    font-size: 3rem;
    line-height: 60px;
    color: #fff;
    font-weight: bolder;
}