<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>学校食堂安全管理系统v1.0</title>

    <!-- Bootstrap Core CSS -->
    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="../vendor/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- DataTables CSS -->
    <link href="../vendor/datatables-plugins/dataTables.bootstrap.css" rel="stylesheet">

    <!-- DataTables Responsive CSS -->
    <link href="../vendor/datatables-responsive/dataTables.responsive.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" type="text/css" href="../dist/css/extendcss.css"/>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script src="/validateLogState.html"></script>

</head>

<body>
    <div id="wrapper">
        <!-- Navigation -->
        <script src="../js/menu.js"></script>
        <div id="page-wrapper">
           <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading row">
                           	<div class="col-sm-6"> 当前位置: 系统管理 >用户管理</div>                           	
                           	<div class="col-sm-6"><div class="optiondiv"><button type="button" class="btn btn-primary btn-sm" id="btncheck">审核</button>&nbsp;<button type="button" class="btn btn-primary btn-sm" id="btncreate">新增</button>&nbsp;<button type="button" class="btn btn-primary btn-sm" id="btnedit">编辑</button>&nbsp;<button type="button" class="btn btn-primary btn-sm" id="btndelete">删除</button></div></div>
                        </div>
                        <!-- /.panel-heading -->
  						<div class="row panel-body">
                           	<form class="form-inline" role="form">
							  <div class="form-group">
							   <div class="input-group">
							      <div class="input-group-addon">所在部门</div>
							       <select class="form-control" id="logDepartment">
							       		<option>全部</option>
							       		<option>教学部</option>
							            <option>财务部</option>
							            <option>市场部</option>            
							            <option>网络部</option>
							            <option>行政部</option>
							        </select>
							    </div>
							  </div>
							  <div class="form-group">
							   <div class="input-group">
							      <div class="input-group-addon">角色组</div>
							       <select class="form-control" id="logRole">
							            <option>全部</option>
							            <option>超级管理员</option>
							            <option>普通用户</option>
							        </select>
							    </div>
							  </div>
							  <div class="form-group">
							    <div class="input-group">
							      <div class="input-group-addon">登录账号：</div>
							      <input class="form-control" type="text" id="logUsername" placeholder="登录账号">
							    </div>
							  </div>
							  <button type="button" class="btn btn-default" id="search">查询</button>
							</form>
                        </div>
                        <div class="panel-body">
                        	
                            <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
                                <thead>
                                    <tr>
                                        <th class="center"><input type="checkbox" id="cball"/></th>
                                        <th>用户账号</th>
                                        <th>用户名称</th>
                                        <th>所属角色</th>
                                        <th>所属部门</th>
                                        <th>是否启用</th>
                                        <th>排序</th>
                                        <th>状态</th>
                                    </tr>
                                </thead>
                                <tbody id="bodyList">
                                </tbody>
                            </table>
                            <!-- /.table-responsive -->
                             <div class="row">
                                 <div class="col-sm-6">
                                     <div class="dataTables_info" id="dataTables-example_info" role="status" aria-live="polite">显示第 1 至 5 项记录，共 5 项</div>
                                 </div>
                                 <div class="col-sm-6">
                                     <div class="dataTables_paginate paging_simple_numbers" id="dataTables-example_paginate">
                                         <ul class="pagination" id="pagination">
                                             <!--插入分页区域-->
                                         </ul>
                                     </div>
                                 </div>
                             </div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                
                <!-- /.col-lg-12 -->
            </div>
           
          
          
        </div>
      

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="../vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="../vendor/metisMenu/metisMenu.min.js"></script>

    <!-- DataTables JavaScript -->
    <script src="../vendor/datatables/js/jquery.dataTables.min.js"></script>
    <script src="../vendor/datatables-plugins/dataTables.bootstrap.min.js"></script>
    <script src="../vendor/datatables-responsive/dataTables.responsive.js"></script>

    <script src="../dist/js/sb-admin-2.js"></script>
    <script src="../dist/js/sea.js"></script>

    <script src="../js/jquery.tmpl.js"></script>
    <script src="../js/template.js"></script>

    <script id="listTmpl" type="text/html">
        {{each data v i}}
        <tr class="odd gradeX">
            <td class="center"><input type="checkbox"  class="checkId"  value="{{v._id}}"/></td>
            <td>{{v.username}}</td>
            <td>{{v.name}}</td>
            <td>{{v.role}}</td>
            <td class="center">{{v.department}}</td>
            {{if v.checknum == 1}}
            <td class="center"><input type="checkbox" disabled="disabled" checked /></td>
            {{else}}
            <td class="center"><input type="checkbox" disabled="disabled"  /></td>
            {{/if}}

            <td>{{v.sortnum}}</td>
            <td>有效</td>
        </tr>
        {{/each}}
    </script>

    <!--<script id="pageTmpl" type="text/html">-->
        <!--<li class="paginate_button previous disabled" aria-controls="dataTables-example" tabindex="0" id="dataTables-example_previous">-->
            <!--<a href="#">上页</a>-->
        <!--</li>-->
        <!--{{each page v i}}-->
        <!--{{if (v === num)}}-->
        <!--<li class="paginate_button active" tabindex="0">-->
        <!--{{else}}-->
        <!--<li class="paginate_button " tabindex="0" >-->
        <!--{{/if}}-->
            <!--<a href="javascript:refreash({{v}})">-->
                <!--{{if v < 10}}-->
                <!--{{"0"+ v}}-->
                <!--{{else}}-->
                <!--{{v}}-->
                <!--{{/if}}-->
            <!--</a>-->
        <!--</li>-->
        <!--{{/each}}-->

        <!--{{if v == page.length}}-->
        <!--<li class="paginate_button next disabled" tabindex="0" id="dataTables-example_next">-->
        <!--{{else}}-->
        <!--<li class="paginate_button next" tabindex="0" id="dataTables-example_next">-->
        <!--{{/if}}-->
            <!--<a href="javascript:">下页</a>-->
        <!--</li>-->
    <!--</script>-->

    <script>

        // 刷新页面的列表内容
        window.onload = function() {
            refreash()
        }

        function refreash(num, obj) {
            num = num || 1
            window.objStr = ''
            // 因为第一次是传入的对象, 所以要将对象转为键值对的字符串形式
            if (obj && typeof obj == 'object') {
                for(var i in obj ) {
                    objStr += '&' + i + '=' + obj[i]
                }
//                objStr = objStr.slice(1, objStr.length)
//                objStr = JSON.stringify(obj)

                console.log(objStr)
                // 第二次会传入字符串,因为点击下标之后就会传入查询的字符串, 所以else是处理这个情况的
            } else if(obj && typeof obj == 'string') {
                objStr = obj
            }

            ajax({
                url: '/countPage.html',
                data: 'page='+num + objStr,
                success(data) {
                    // 获取总页数的值
                    var page = data.pop()
                    console.log('page='+num + objStr)
                    // 创建一个页数的数组
                    var pageArr = []
                    // 如果总页面的数量小于5, 则只使用总页面数量的页面
                    if(page < 5) {
                        pageArr = [1,2,3,4,5]
                        // 定义好pageArr的数组, 总页面数量就时pageArr的长度了
                        pageArr.length = page
                    } else {
                        if(num == 1 || num == 2) {
                            pageArr = [1,2,3,4,5]
                        } else if(num == page || num == page -1) {
                            pageArr = [page-4, page-3, page-2, page-1, page]
                        } else {
                            pageArr = [num-2, num-1, num, num+1, num+2]
                        }
                    }
                    var listTmpl = document.getElementById('listTmpl')
                    var bodyList = document.getElementById('bodyList')
                    var nodeList = template('listTmpl', {data: data})
                    bodyList.innerHTML = nodeList

//                    var tmpl = template('pageTmpl', {'page': pageArr,  num: num})
                    var tmpl = '';
                    if(num ==1) {
                        tmpl += '<li class="paginate_button previous disabled" tabindex="0" id="dataTables-example_previous">\
                        <a href="javascript:;">上页</a>\
                    </li>'
                    } else {
                        tmpl += '<li class="paginate_button previous" tabindex="0" id="dataTables-example_previous">\
                        <a href="javascript:refreash('+(num-1)+',\''+objStr+'\')">上页</a>\
                    </li>'
                    }


                    // 循环遍历所有的中间页面
                    for(var i = 0; i < pageArr.length; i++) {
                        // 如果数字小于10 , 则在其两边加上空格符
                        if(pageArr[i] < 10) {
                            // 如果数字等于当前页面数字,则添加class为active
                            if(pageArr[i] == num) {
                                tmpl += '<li class="paginate_button active" tabindex="0">\
                            <a href="javascript:refreash('+pageArr[i]+',\''+objStr+'\')">'+'&nbsp;'+pageArr[i]+'&nbsp;'+' </a>\
                            </li>'
                            } else {
                                tmpl += '<li class="paginate_button" tabindex="0">\
                                <a href="javascript:refreash('+pageArr[i]+',\''+objStr+'\')">'+'&nbsp;'+pageArr[i]+'&nbsp;'+' </a>\
                                </li>'
                            }
                        } else {
                            if(pageArr[i] == num) {
                                tmpl += '<li class="paginate_button active" tabindex="0">\
                            <a href="javascript:refreash('+pageArr[i]+',\''+objStr+'\')">'+pageArr[i]+'</a>\
                            </li>'
                            } else {
                                tmpl += '<li class="paginate_button" tabindex="0">\
                                <a href="javascript:refreash('+pageArr[i]+',\''+objStr+'\')">'+pageArr[i]+'</a>\
                                </li>'
                            }
                        }

                    }

                    if(num == page) {
                        tmpl += '<li class="paginate_button next disabled" tabindex="0" id="dataTables-example_next">\
                        <a href="javascript:;">下页</a>\
                    </li>'
                    } else {
                        tmpl += '<li class="paginate_button next" tabindex="0" id="dataTables-example_next">\
                        <a href="javascript:refreash('+(num+1)+',\''+objStr+'\')">下页</a>\
                    </li>'
                    }

                    pagination.innerHTML = tmpl
                    objStr = ''
                }
            })
        }






    </script>


    <script>
		$("#cball").click(function(){
			$("input[type='checkbox']").not(this).prop("checked",$(this).prop("checked"));
		});

		seajs.config({
		  alias: {
		    "jquery": "jquery-1.10.2.js"
		  }
		});

		seajs.use(['jquery', 'dialog-plus'], function ($, dialog) {
			$('#btncreate').on('click', function () {
				//构造表单
				jQuery.get("userform.html",function(data){
    				var d = dialog({
						title: '创建用户',
						content:data,
						width:500,
						okValue: '确 定',
						ok: function () {
	                        var username = document.getElementById('tbusername').value
	                        var password = document.getElementById('tbpassword').value
	                        var name = document.getElementById('tbname').value
	                        var role = document.getElementById('tbrole').value
	                        var department = document.getElementById('tbdepartment').value
	                        var sortnum = document.getElementById('tbsortnum').value
	                        var checknum = +document.getElementById('tbcheck').checked

                            ajax({
                                type: 'post',
                                url: '/addUser.html',
                                data: 'username='+username+'&password='+password+'&name='+name+'&role='+role+'&department='+department+'&sortnum='+sortnum+'&checknum='+checknum,
                                success: function(data) {
                                    if(data) {
                                        refreash()
                                    } else {
	                                    alert('此账号已经添加过了...')
                                    }
                                }
                            })
						},
						cancelValue: '取消',
						cancel: function () {}
					});
		
					d.showModal();
    			});				
			});
			
			$('#btnedit').on('click', function () {
			    // 找到选中的第一个复选框
                var checkIds = document.querySelectorAll('.checkId')
                var checkId
                for(var v of checkIds) {
                    if(v.checked) {
                        checkId = v.value
                        break
                    }
                }
                if(!checkId) {
                    alert('请选择一个用户进行编辑')
                    return false
                }



				//构造表单
				jQuery.get("userform.html",function(data){
    				var d = dialog({
						title: '编辑用户',
						content:data,
						width:500,
						okValue: '确 定',
						ok: function () {
                            var username = document.getElementById('tbusername').value
                            var password = document.getElementById('tbpassword').value
                            var name = document.getElementById('tbname').value
                            var role = document.getElementById('tbrole').value
                            var department = document.getElementById('tbdepartment').value
                            var sortnum = document.getElementById('tbsortnum').value
                            var checknum = +document.getElementById('tbcheck').checked

                            ajax({
                                type: 'post',
                                url: '/editUser.html',
                                data: 'username='+username+'&password='+password+'&name='+name+'&role='+role+'&department='+department+'&sortnum='+sortnum+'&checknum='+checknum + '&id=' + checkId,
                                success: function(data) {
                                    refreash()
                                }
                            })
						},
						cancelValue: '取消',
						cancel: function () {}
					});
		
					d.showModal();


                    ajax({
                        url: '/getUserById.html',
                        data: 'id=' + checkId,
                        success(data) {
                            console.log(data)
                            if(data) {
                                tbusername.value = data.username
                                tbpassword.value = data.password
                                tbname.value = data.name
                                tbrole.value = data.role
                                tbdepartment.value = data.department
                                tbsortnum.value = data.sortnum
                                tbcheck.checked = Boolean(data.checknum)

                            }
                        }
                    })
    			});				
			});


            $('#btndelete').on('click', function() {
                var btndelete = document.getElementById('btndelete')
                var checkId = document.querySelectorAll('.checkId')
                var idArr = []
                checkId.forEach((v, i) => {
                    if(v.checked) {
                        idArr.push(v.value)
                    }
                })
                if(!idArr.length) {
                    alert('请选中需要删除的内容')
                    return false
                }
                var idStr = JSON.stringify(idArr)
                console.log(idStr)
                ajax({
                    url: '/deleteItem.html',
                    type: 'post',
                    data: 'id=' + idStr,
                    success: (data) => {
                        if(+data) {
                            alert('删除成功...')
                            refreash()
                        }
                    }
                })
            })



        });


    // 提交搜索区域
    search.onclick = function() {
        var department = logDepartment.value
        var role = logRole.value
        var username = logUsername.value
        console.log(department, role, username)

        ajax({
            url: '/searchUser.html',
            data: "department=" + department + "&role=" + role + "&username=" + username,
            success(data) {
                refreash(1, data)
            }
        })
    }
</script>



</body>

</html>
