body{
	background: #42b0d3;
}
/*头部公共区域*/
.header{
	width: 100%;
	height: 4rem;
	background: #42b0d3;
	position: fixed;
	top: 0;
	z-index: 9999;
}
.nav{
	padding: 1rem 2rem;
}
.nav a{
	font-size: 2rem;
	color: #fff;
}
.nav .text-center{
	font-size: 2rem;
	background: #42b0d3;
	line-height: 3.6rem;
	color: #fff;
}
.line{
	width: 100%;
	height: 1px;
	background: #ddd;
	margin-top: -1.9rem;
}
.nav .text-right{
	float: right;
	font-size: 2.8rem;
	position: absolute;
	top: 1.3rem;
	right: 2.5rem;
}
.nav .text-left{
	float: left;
	font-size: 2.8rem;
	position: absolute;
	top: 1.3rem;
	left: 2.5rem;
}
/*中间banner部分*/
.container{
	margin-top: 8.5rem;
}
.motherBg{
	position: relative;
}
.motherBg .btmImg{
	width: 18rem;
}
.motherBg .topImg{
	font-size: 2.8rem;
	color: #fff;
	margin-top: -3.8rem;
}
.tips{
	padding:1rem 2rem;
	font-size: 2rem;
	color: #feca50;
	font-weight: bold;
	z-index: -1;
}
.result{
	color: #fff;
	padding:0 2rem;
	letter-spacing: 0.2rem;
	word-spacing: 0.2rem;
	line-height: 1.9rem;
}
/*对战详情*/
.detail{
	padding: 0.5rem 3rem;
	border-bottom: 1px solid #999;
	background: #fff;
	color: #aaa;
}
.text-left{
	font-size: 2rem;
	color: #666;
	line-height: 3rem;
}
.text-Right{
	float: right;
	color: #ccc;
	line-height: 3rem;
}
.placeholder{
	width: 100%;
	height: 7.5rem;
	background: #fff;
}
/*底部区域*/
.containerA{
	position: fixed;
	bottom: 0;
	height: 7.5rem;
	background: rgba(41,189,224,0.5);
	width: 100%;
}
.btmbtn{
	margin-top: 2rem;
	width: 12rem;
	height: 3.5rem;
}