body{
	background: #42b0d3;
}
/*头部公共区域*/
.header{
	width: 100%;
	height: 4rem;
	background: #42b0d3;
	position: fixed;
	top: 0;
	z-index: 9999;
}
.nav{
	padding: 1rem 2rem;
}
.nav a{
	font-size: 2rem;
	color: #fff;
}
.nav .text-right{
	float: right;
}
/*正文部分*/
.container-fluid{
	margin-top: 4rem;
	padding: 0;
}
.container-fluid .message{
	width: 100%;
	height: 4rem;
	background: #b9e0f5;
	font-size: 1.8rem;
	color: #999;
	line-height: 4rem;
	padding-left: 4rem;
}
.playicon{
	position: relative;
	display: inline-block;
	width: 2.2rem;
	height: 2.2rem;
	background: #f9b539;
	border-radius: 100%;
	color: #fff;
	float: right;
	margin:1rem 1rem 0 0;
}
.playicon i{
	position: absolute;
	padding: 3px 0 0.2rem 0.5rem;
}
.triangle{
	position: absolute;
	display: block;
	width: 0;
	height: 0;
	border-top: 1rem solid #b9e0f5;
	border-left: 0.5rem solid transparent;
	border-right: 0.5rem solid transparent;
	border-bottom: 1rem solid transparent;
	top: 8rem;
}
.clicktag{
	color: #fff;
	line-height: 4rem;
	text-indent: 30px;
}
/*头像区域*/
.ident{
	margin: 0 auto 40%;
	height: 9rem;
	width: 8rem;
	font-size: 2rem;
	border: 4px solid #fff;
	position: relative;
	right: 2px;
	text-align: center;
	background: #f4c97b;
}
.ident .iconTag{
	position: absolute;
	top: 9.5rem;
	display: none;
}
.ident .iconTag img{
	width: 1.5rem;
	height: 1.5rem;
}
.ident a{
	line-height: 7rem;
	color: #999;
}
.ident span{
	display: block;
	width: 100%;
	height: 2rem;
	font-size: 1rem;
	line-height: 2rem;
	position: absolute;
	bottom: 0;
	margin: 0 auto;
	background: #82b09a;
	color: #fff;
}
.placeholder{
	width: 100%;
	height: 8rem;
}
/*脚步固定位置*/
.row{
	margin: 0 ;
}
.footer{
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 8rem;
	background: #42b0d3;
}
.footer .btn{
	width: 23rem;
	height: 4rem;
	margin-top: 2rem;
	font-size: 2rem;
	color: #fff;
	background: #fbb434;
}